body{
    background:linear-gradient(to right,
    rgba(10,180,10,.7),
    rgb(250,250,20,.7))
}

form{
    position:relative;
    width:300px;
    height:500px;
    margin:auto;
    margin-top:40px;
    padding:10px;

    border-style:solid;
    border-width:1px;
    border-color:gray;

    text-align:center;
    font-style:Helvetica;

    background-color:white;
}

input[type="text"],input[type="email"]{
    width:80%;
    height:30px;
    padding:10px;
}

textarea{
    width:80%;
    height:150px;
    padding:10px;
    resize:both;
    overflow:auto;
}

input[type="submit"],input[type="reset"]{
    background-color:navy;
    cursor:pointer;
    width:100px;
    height:40px;
    margin:40px;
    color:white;
    font-size:100%;
}

input[type="submit"]{
    position:absolute;
    left:0;
    bottom:0;
}

input[type="reset"]{
    position:absolute;
    right:0;
    bottom:0;
}

input[type="submit"]:focus,input[type="reset"]:focus{
    background-color:green;
    color:navy;
}

input[type="submit"]:hover,input[type="reset"]:hover{
    background-color:green;
    color:navy;
}
    